<a href="https://colab.research.google.com/github/VishalC02/Machine-Learning/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
lst=['Mathematics',100]
print(lst)
len(lst)
lst.append('Vishal')
print(lst)
lst[2]
lst[:2]
lst.append(['Yash','chinmay'])
print(lst)

['Mathematics', 100]
['Mathematics', 100, 'Vishal']
['Mathematics', 100, 'Vishal', ['Yash', 'chinmay']]

In [33]:
#Insert
lst.insert(1,'Choudhari')
print(lst)
lst.pop(3)
print(lst)
lst.count('Choudhari')
lst.index('Vishal')

['Mathematics', 'Choudhari', 'Choudhari', 'Choudhari', 'Choudhari', 'Vishal', ['Yash', 'chinmay']]
['Mathematics', 'Choudhari', 'Choudhari', 'Choudhari', 'Vishal', ['Yash', 'chinmay']]

4

In [39]:
#Sets
st_var=set()
st_var={1,2,3,4,3}
st_var
st_var={'Avengers','Ironman','Hulk'}
print(st_var)
st_var.add('Thor')
print(st_var)

{'Avengers', 'Hulk', 'Ironman'}
{'Thor', 'Avengers', 'Hulk', 'Ironman'}

In [47]:
#Dictionaries
dic={}
type(dic)
mydict={'Car1':'Audi','Car2':'BMW','Car3':"Buggati"}
mydict
for i in mydict:
  print(i)

for i in mydict.values():
  print(i)

for i in mydict.items():
  print(i)

#Add items in dictionary
mydict['Car4']='Volvo'
mydict

Car1
Car2
Car3
Audi
BMW
Buggati
('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Buggati')

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Buggati', 'Car4': 'Volvo'}

In [55]:
#NestedmDictionary
car1model={'Mercedes':1960}
car2model={'Audi':1970}
car3model={'Ambassador':1980}

cartype={'car1':car1model,'car2':car2model,'car3':car3model}
print(cartype)

#accessing item in dectionaries
print(cartype['car1'])

print(cartype['car1']['Mercedes'])

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}
{'Mercedes': 1960}
1960

In [57]:
#Tuples
mytuple=('Vishal','Choudhari',21)
print(mytuple)

('Vishal', 'Choudhari', 21)